html, body{
  
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Barlow', sans-serif;
  position: relative;
}

#header {
  background-color: aqua;
}

#header img {
  margin: 3% 3%;
  border-radius: 100%;
}

#header span {
  font-weight: bolder;
  font-size: 40px;
}

@media (max-width:500px) {
  #header img {
    width: 60px;
  }
  #header span {
    font-size: 30px;
  }
}

#navigation {
  background-color: aqua;
  z-index: 10;
}

.nav-item a{
  color: black;
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  margin-top: 0px;
  width: 100%;
}

#home {
  background-image: url("testtube.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 5% 0;
  margin: 5% 0;
}

#home h1 {
  margin: 5% 0;
  font-weight: bold;
}

#home p{
  font-weight: 500;
}

.homeTag{
  opacity: 0;
  transform: translate(0, 50px);
  transition: all 3s;
}

section:hover .homeTag {
  opacity: 1;
  transform: translate(0, 0);
}

#education {
  padding: 5vh 3%;
}

.educationCard {
  background-color: #fff;
  margin: 17% 11px;
  box-shadow: 0 4px 4px 0 aqua;
  text-align: center;
  background-color: #f1f1f1;
  transition: box-shadow 1s;
}

.educationCard:hover {
  box-shadow: -8px 16px 16px 0 aqua;
}

#posts a{
  text-decoration: none;
  color: black;
}

.block {
  width: 50%;
  border: 3px solid aqua;
  padding: 2% 0;
  margin: 50px;
}

.block a{
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.form .size {
  height: 40px;
  width: 70%;
}

.form .msgSize {
  height: 100px;
  width: 70%;
}

.form .size, .form .msgSize, .form .submitDesign{
  margin: 1% 3%;
}

.submitDesign {
  color: black;
  border: 1px solid black;
  box-shadow: 2px 2px 2px aqua;
  transition: 0.5s box-shadow;
}

#footer .container-fluid{
  background-color: aqua;
}

#footer a{
  text-decoration: none;
  color: black;
  margin: 2% 3%;
}

#footer span{
  float: right;
}

@media (max-width:507px) {
  #footer span {
    text-align: left;
  }
}